<div class="container">
    <div> 
        <h1>Our Family</h1>
    </div>
   <div class="Image">
    <img src="../../../assets/Images/family-hero-banner-desktop-1168x520-1.jpg" alt="...">
   </div>
   <div class="card-container">
    <div class="card">
        <img src="../../../assets/Images/Happy-Meal-Family card 1.png" alt="...." class="card-image">
        <div class="card-content">
          <h3 class="card-title">Happy Meal Menu</h3>  
          <a href="#" class="card-button">View Menu</a>
        </div>
      </div>
    <div class="card">
        <img src="../../../assets/Images/happy-meal-toys-feature-callout-574x249-1 card 2.jpg" alt="...." class="card-image">
        <div class="card-content">
          <h3 class="card-title">Happy Meal Toys</h3>
          <a href="#" class="card-button">View Toys</a>
        </div>
      </div>
    <div class="card">
        <img src="../../../assets/Images/Happy-Meal-App card 3.png" alt="..." class="card-image">
        <div class="card-content">
          <h3 class="card-title">Download McDonald's App</h3>
          
          <a href="#" class="card-button">Learn More</a>
        </div>
      </div>
    <div class="card">
        <img src="../../../assets/Images/birthday-parties-feature-callout-574x249-1 card 4.jpg" alt="" class="card-image">
        <div class="card-content">
          <h3 class="card-title">Birthday Parties</h3>
          
          <a href="#" class="card-button">Book Now</a>
        </div>
      </div>
   </div>
</div>