<div class="container">
    <div class="imagelog">
        <img src="../../../assets/car-renatl-sharing-data/Cover@2x.png" width="110%" height="635px" alt="...">
    </div>
    <div class="formbody" >
        <div class="logo-header" >
            <div><img src="../../../assets/car-renatl-sharing-data/header-logo.png" alt="footer-logo"></div>
            <div class="logo-text">
                <h3>Sign Up to your Account</h3>
                <p>Welcome! Please enter your Detail.</p>
            </div>
            <div class="login-form" >
                <form action="#" method="POST">
                    <div class="form-group">
                        <label for="username">Name</label>
                        <input type="text" id="name" name="username" placeholder="Enter your name" required>
                    </div>
                    <div class="form-group">
                        <label for="number">Phone</label>
                        <input type="text" id="number" name="number" placeholder="Enter your phone no." required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" id="email" name="email" placeholder="Enter your email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="Enter your password" required>
                    </div>
                   
                    <div class="form-group">
                        <button type="submit">Sign in</button>
                    </div>
                    <div class="form-footer">
                        <p>Already have an account? <a href="#">Sign in</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>