<section class="container">
    <div class="footer-part1">
        <div class="footer-paragraph">
            <div><img src="../../../../../assets/car-renatl-sharing-data/footer-logo.png" alt="footer-logo"></div>
            <div class="footer-paragraph2">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima dicta fugit neque excepturi?Magnamcommodi non culpa quaerat, architecto illo ipsam repudiandae, rem minab sit sapientedoloremque.Repudiandae, nihil.</p>
            </div>
        </div>


        <!-- Container for the lists -->
        <div class="list-container">
            <!-- Column 1 -->
            <ul class="list">
                <h3>About</h3>
                <li>How its Works</li>
                <li>Terms and Condition</li>
                <li>Privacy Policy</li>
                <li>About Us</li>
            </ul>

            <!-- Column 2 -->
            <ul class="list">
                <h3>Important Links</h3>
                <li>Vehicle Listing</li>
                <li>Contact Us</li>
            </ul>

            <!-- Column 3 -->
            <ul class="list">
                <h3>Socials</h3>
                <li>Instagram</li>
                <li>Twitter(X)</li>
                <li>Facebook</li>
            </ul>
        </div>
    </div>
    <div>
        <img src="../../../../../assets/car-renatl-sharing-data/car-renatl-sharing-data/web-pages/car-renatl-sharing-data/Line.png" width="100%" alt="....">
    </div>
    <div class="footer-part2">
        <p>&copy; 2024 Charter Car. All rights reserved.</p>
    </div>
</section>