.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Image{
    width: 100%;

   
    margin-bottom: 100px;
    
  }
  .Image img{
    width: 100%;
  }
  h1{
    color: red;
    font-size: 4em;
    margin-bottom: 30px;
    margin-top: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    text-align: center;
    word-spacing: 10px;

  }