<section class="container-fluid">
    <div >
        <!-- Start of Nav bar  -->
    <nav class="container-fluid " style="display: flex;  justify-content: space-evenly;">
        <div class="logo">
            <a routerLink="/"><img src="../../../assets/Images/McDonalds_Logo.png" alt="McDonalds_Logo"></a>
        </div>
        <div  style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >
            <div class="prenavbar">
                <div class="prenavbar1">
                    <p>Careers</p>
                    <p style="display: flex; text-wrap: nowrap; margin-left: 25px;">Contact Us</p>
                </div>
                <div class="prenavbar2" style="display:flex;text-wrap: nowrap;  ">
                    <p style="margin-right: 25px;" > <i class="fa-solid fa-magnifying-glass"></i> Search</p>
                    <p > <i class="fa-solid fa-location-dot" style="color: #f50a0a;"></i>Locate Me</p>
                </div>
            </div>
            <br>
            <div>
                <ul class="navbar">
                    <li>Our Menu</li>
                    <a routerLink="/about-our-food" class="links">About Our Food</a>
                    <li>Your Right To Know</li>
                    <li>Our App</li>
                    <li>Family</li>
                    <a routerLink="/trending-now" class="links">Trending Now</a>
                </ul>
            </div>
        </div>
        
        <div >
            <button class="navbar-button" style="background-color: orange; border: none; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; display: flex;  text-wrap: nowrap; font-size: medium; text-align: center;">Order On McDelivery</button>
        </div>
    </nav>
    <hr>
    <!-- End of Nav bar  -->
    <br>
    <br>
    </div>
</section>