<div class="container">
    <div class="imagelog">
        <img src="../../../assets/car-renatl-sharing-data/Cover@2x.png"  alt="...">
    </div>
    <div class="formbody" >
        <div class="logo-header" >
            <div><img src="../../../assets/car-renatl-sharing-data/header-logo.png" alt="footer-logo"></div>
            <div class="logo-text">
                <h3>Sign in to your account</h3>
                <p>Welcome back! please enter your detail.</p>
            </div>
            <div class="login-form" >
                <form action="#" method="POST">
                    <div class="form-group">
                        <label for="username">Email</label>
                        <input type="text" id="email" name="email" placeholder="Enter your email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="Enter your password" required>
                    </div>
                    <div class="form-check1">
                        <div class="form-check">
                        <input type="checkbox" name="checkbox" id="checkbox">Remember Me
                        </div>
                        <a routerLink="/forget-password" class="forgot-password">Forgot Password?</a>
                    </div>
                    <div class="form-group">
                        <button type="submit">Sign in</button>
                    </div>
                    <div class="form-footer">
                        <p>Don't have an account? <a routerLink="/sign-up">Sign up</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>