/* cards starts */
/* Container for Cards */
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* 3 columns */
    gap: 20px;  /* Space between cards */
    padding: 20px;
    margin-bottom: 40px;
  }
  
  /* Individual Card */
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  /* Card Image */
  .card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  /* Card Content */
  .card-content {
    padding: 15px;
   padding-bottom: 20px;
   align-items: center;
   display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 200px;
  }

  
  .card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    padding-top: 20px;
    color: red;
    font-weight: 700;
    font-size: x-large;
  }
  
 
  
  .card-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffbb00;
    color: black;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .card-button:hover {
    background-color: #ffbb00;
  }
  /* cards ends */
  .Image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin-bottom: 50px;
  }
  h1{
    color: #db0007;
    font-size: 4em;
    margin-bottom: 30px;
    margin-top: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    text-align: center;
    word-spacing: 10px;

  }