<div class="container" >
    <div>
        <h1>About Our Food</h1>
    </div>
    <div class="Image">
        <img src="../../../assets/Images/about-our-food-hero-desktop1168x520.jpg" height="520px" width="1170px"  alt="About our Food">
    </div>
    <div  class="card-container">
        <div class="card">
            <div>
                <img src="../../../assets/Images/food-quality-desktop-574x249-1.jpg" alt="Food quality">
            </div>
            <div class="card-content">
                <h2 class="card-title">Food Quality</h2>
                <a href="#" class="card-button">Learn More </a>
            </div>
        </div>
        <div class="card">
            <div><img src="../../../assets/Images/ingredients-desktop-574x249-1.jpg" alt="our Ingredients"></div>
            <div class="card-content">
                <h2 class="card-title">Our Ingredients</h2>
                <a href="#" class="card-button">Learn More </a>
            </div>
        </div>
        <div class="card">
            <div><img src="../../../assets/Images/your-right-to-know-about-our-food.png" alt="Your your-right-to-know-about-our-food"></div>
            <div class="card-content">
                <h2 class="card-title">Your Right to Know About Our Food</h2>
                <a href="#" class="card-button" >Learn More </a>
    
        </div>
    </div>
</div>
