<div class="container">
    <div>
        <h1>McDonald's App</h1>
    </div>
    <div>
        <img src="../../../assets/Images/Trending Now.jpg"  class="Image" alt="...">
    </div>
    <div class="box-1">
        <div><img src="../../../assets/Images/download-our-app box 1.png" width="405px" height="300px" alt="..."></div>
        <div class="box-content1">
            <h2>Download The <br> McDonald’s App</h2>
            <p>Get exciting rewards and surprises everyday</p>
            <div>
                <img src="../../../assets/Images/google_play_badge.png" alt="...">
                <img src="../../../assets/Images/app_store_badge.png" alt="...">
            </div>
        </div>
    </div>
    <div class="box2">
        <div><img src="../../../assets/Images/mcdonalds-arabia-feature-callout-video box2.jpg" width="90%" alt="...."></div>
        <div class="box-content2">
            <p>As easy as 1, 2, 3!</p>
            <p>Win daily rewards & prizes, order, stay up to date and <br> even ask us anything! There are more reasons for you <br> to feel good, and they’re only a tap away.</p>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <img src="../../../assets/Images/rewards-program-our-app card 1.png" alt="..." class="card-image">
            <div class="card-content">
              <h3 class="card-title">The McDonald's Rewards Program</h3>
              <p>Start scanning with every purchase to collect points and <br> redeem them to enjoy more of the food you love.</p>
              
              <a href="#" class="card-button">Learn More</a>
            </div>
          </div>
          <div class="card">
            <img src="../../../assets/Images/McDelivery-promo-dsk card 2 od our app.jpg" alt="...." class="card-image">
            <div class="card-content">
              <h3 class="card-title">McDelivery</h3>
              <p>Get all your McDonald’s favourites delivered right to your <br> doorstep.</p>
              <a href="#" class="card-button">Order Now</a>
            </div>
          </div>
    </div>
    
</div>
