<section class="container">

  <div>
    <h1>Your Right to Know</h1>
  </div>
  <div>
    <div class="image-card-container">
      <img src="../../../assets/Images/your-right-to-know (1).png
    " alt="Background Image" class="background-image">
      <div class="card">
        <div class="card-content">
          <h2 class="card-title">GOT A QUESTION? <br>GET AN ANSWER!</h2>

          <p class="card-text">We take pride in giving you the best,adding love and care in all the little things we do.
            Want to know more?All you have to do is ask.</p>
          <button class="card-button">Ask a Question</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="Search-box">
      <div class="input-text">
        <span class="icon-input-container">
          <i class="fa-solid fa-magnifying-glass icon-class"></i>
          <input id="search-text" class="input-box" placeholder="Search for a Question" type="text">
        </span>
        <div>
          <button id="serach-button" class="search-button">Search
          </button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="filter1">
      <h2>3 Results Found </h2>
      <div class="filter2">
        <div>
          <span>
            <i class="fa fa-filter"></i>
          </span>
        </div>
        <span>Filter</span>
        <span><i id="filter-arrow" class="fa fa-chevron-down"></i></span>
      </div>
    </div>
  </div>
  <div>
    <div>
      <!-- card starts -->
      <div class="card-container2">
        <!-- card 1 -->
        <div class="card2">
          <div class="card-content2">
            <p>ASKED BY Muhammad Majid</p>
            <h2>How do I apply for employment at McDonalds?</h2>
            <p>To apply for a job at McDonald's visit the McDonalds Careers website. Navigate to Restaurant Jobs or
              Corporate Jobs to find available McDonald's job listings near you.</p>
          </div>
        </div>
        <!-- card 2 -->
        <div class="card2">
          <div class="card-content2">
            <p>ASKED BY Aysha</p>
            <h2>How do you make French fries?</h2>
            <p>Hi, our World Famous Fries are freshly prepared for you in our restaurants from frozen high quality
              potatoes, planted and grown specifically for McDonald's.</p>

          </div>
        </div>
        <!-- card 3 -->
        <div class="card2">
          <div class="card-content2">
            <p>ASKED BY Farooq</p>
            <h2>Can I buy a McDonald’s franchise?</h2>
            <p>Hi, thank you for your interest. However, we do not offer franchise in Pakistan market at the moment.</p>


          </div>
        </div>
        <!-- card ends -->
      </div>
    </div>
  </div>




</section>