 footer {
    background-color: white;
      padding: 20px 0;
      row-gap: 20px;
    
    }
    .prenavbar{
        column-gap: 20px;
        display: flex ;
        gap: 550px;
        align-items: center;
       

    }
    .footerimage{
      display: flex;
    }
    .social-media{
      display: flex;
      gap: 30px;
     flex-direction: row;
    }
    
    .social-media a {
      row-gap: 30px;
      margin: 0px;
      text-decoration: none;
      color: black; /* Icon color */
      font-size: 20px; /* Icon size */
      
    }
    
    .social-media a:hover {
      color: #ff0000; /* Change color on hover, adjust for each social media brand if needed */
  
    }
    .list{
      font-weight: 600;
      
    }
   .overview{
     display: flex;
     gap: 250px;
     text-wrap: nowrap;
     margin-top: 30px;
     margin-bottom: 30px;
   }
   .overview2{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
   }