 <section class="container">
  <!-- Start of footer -->
 <footer>
  <div  class="row">
   <div class="col-3">
      <h4>Our company</h4>
     <ul class="list" style="list-style: none;  padding: 1px;">
       <li>Our Community</li>
       <li>Our Journey</li>
       <li>Our History</li>
     </ul>
   </div>
   <div class=" col-3">
     <h4>Careers</h4>
     <ul class=" list" style="list-style: none;  padding: 1px;">

       <li>Corporate</li>
       <li>Restaurrant</li>
     </ul>
   </div>
   <div class=" col-3">
     <h4>Contact  Us</h4>
     <ul class=" list" style="list-style: none;  padding: 1px;">

       <li>Suggestion</li>
       <li>Compaliant</li>
     </ul>
   </div>
   <div class="col-3">
     <h4>NewsRoom</h4>
     <ul class="  list" style="list-style: none;  padding: 1px;">

       <li>Press Releases</li>
       <li>Press Contact</li>
     </ul>
   </div>
  </div>
  <br><br>
  <div  class="prenavbar" style="display:flex;">


   
     <div class="social-media">
       <a  href="https://www.facebook.com" target="_blank" title="Facebook"><i class="fab fa-facebook"></i></a>
       <a href="https://www.tiktok.com" target="_blank" title="TikTok"><i class="fab fa-tiktok"></i></a>
       <a href="https://www.x.com" target="_blank" title="X"><i class="fab fa-twitter"></i></a>
       <a href="https://www.linkedin.com" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
       <a href="https://www.instagram.com" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
       <a href="https://www.youtube.com" target="_blank" title="YouTube"><i class="fab fa-youtube"></i></a>
    
   </div>
   <div class="footerimage">
       <div>
        <a href="#">
          <img src="../../../assets/Images/app_store_badge.png" alt="app_store_badge">
         </a>
       </div>  
       <div>
        <a href="#">
          <img src="../../../assets/Images/google_play_badge.png" alt="google_play_badge">
         </a>
       </div>
   </div>
  </div>
  <br><br>
  <hr>
  <div class="overview"  >
   <div  class="col-6 overview2" >

     <p>Contact</p>
     <p>Privacy Policy</p>
     <p>Term & Condtions</p>
   </div>
   <div class="overview">
     <p><img src="../../../assets/Images/McDonalds_Logo.png" height="28px" alt=" McDonalds_Logo">
       ©2024 McDonald's. All Rights Reserved.</p>
   </div>
  </div>
  
</footer>
<!-- End of footer -->
 </section>