<main>
    <div >
        <div>
            <div class="image-card-container">
                <img src="../../../../../assets/car-renatl-sharing-data/home-fornt-banner.png" alt="Background Image"
                    class="background-image">
                <div class="card">
                    <div class="card-content">
                        <h2 class="card-title">Safer, Faster And <br> Comfortable</h2>

                        <p class="card-text">Get in touch with our luxury cars.</p>
                        <button class="card-button">Rent Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="image-card-container2">
                <img src="../../../../../assets/car-renatl-sharing-data/home-page-pic.png" alt="Background Image"
                    class="background-image2">
                <div class="card2">
                    <div class="card-content2">
                        <h2 class="card-title2">Rent a Car</h2>

                        <p class="card-text2">We pride ourselves in always going the extra mile for our customers</p>

                    </div>

                </div>
                
            </div>
        </div>
        <!-- cards -->
        
        <div>
            <!-- <div class="images-link">
                <div><a href="#" class="links">Popular Car</a></div>
                <div><a href="#" class="links">View All</a></div>
            </div> -->
            
            <div></div>
        </div>
        <div>

        </div>
    </div>
</main>