<div>
    <div>
        <div>
            <div class="image-card-container">
                <img src="../../../../../assets/car-renatl-sharing-data/home-fornt-banner.png" alt="Background Image"
                    class="background-image">
                <div class="card">
                    <div class="card-content">
                        <h2 class="card-title">Safer, Faster And <br> Comfortable</h2>

                        <p class="card-text">Get in touch with our luxury cars.</p>
                        <button class="card-button">Rent Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="image-card-container2">
                <img src="../../../../../assets/car-renatl-sharing-data/home-page-pic.png" alt="Background Image"
                    class="background-image2">
                <div class="card2">
                    <div class="card-content2">
                        <h2 class="card-title2">Rent a Car</h2>

                        <p class="card-text2">We pride ourselves in always going the extra mile for our customers</p>

                    </div>

                </div>

            </div>
        </div>
        
        <div>
            <div class="images-link">
                <div><a href="#" class="links2">Popular Car</a></div>
                <div><a href="#" class="links">View All</a></div>
            </div>
            <div>
                <app-cards [CardDatas]="cardDatas"></app-cards>
            </div>
        </div>
        <div class="fell-div3">
            <div class="fell-div">
                <div class="fell-div-heading">
                    <h1>Fell the best experience with our luxury cars.</h1>
                </div>
                <div class="fell-div2">
                    <div>
                        <div class="image-card-container3">
                            <img src="../../../../../assets/car-renatl-sharing-data/car-renatl-sharing-data/web-pages/car-renatl-sharing-data/Vector.png"
                                alt="Background Image" class="background-image3">
                            <img src="../../../../../assets/car-renatl-sharing-data/car-renatl-sharing-data/card_travel.png"
                                alt="Icon" class="icon-image">
                            <div class="card3">
                                <div class="card-content3">
                                    <h2 class="card-title3">Book with flexibility</h2>

                                    <p class="card-text3">
                                        Easily find and book the perfect car with no change fees.
                                    </p>

                                </div>

                            </div>

                        </div>
                    </div>
                    <div>
                        <div class="image-card-container3">
                            <img src="../../../../../assets/car-renatl-sharing-data/car-renatl-sharing-data/web-pages/car-renatl-sharing-data/Vector.png"
                                alt="Background Image" class="background-image3">
                            <img src="../../../../../assets/car-renatl-sharing-data/car-renatl-sharing-data/settings (1).png"
                                alt="Icon" class="icon-image">
                            <div class="card3">
                                <div class="card-content3">
                                    <h2 class="card-title3">Trusted and free</h2>

                                    <p class="card-text3">We're completely free to use - no hidden charges or fees.</p>

                                </div>

                            </div>

                        </div>
                    </div>
                    <div>
                        <div class="image-card-container3">
                            <img src="../../../../../assets/car-renatl-sharing-data/car-renatl-sharing-data/web-pages/car-renatl-sharing-data/Vector.png"
                                alt="Background Image" class="background-image3">
                            <img src="../../../../../assets/car-renatl-sharing-data/car-renatl-sharing-data/Group.png"
                                alt="Icon" class="icon-image">
                            <div class="card3">
                                <div class="card-content3">
                                    <h2 class="card-title3">We know Travel</h2>

                                    <p class="card-text3">With 10 year of experience, we ready to help find your prefect
                                        cars.</p>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="last-box1">
            <div class="last-box2">
                <div>
                    <div class="last-box-text">
                        <div class="last-box-text-content">
                            <h2>Become A Driver <br> Your Time. Your Goals. You're the boss.</h2>
                        </div>
                        <div>
                            <div class="container8">
                                
                                <div class="Search-box">
                                    <p class="container8-p">Subcribe and Joins us</p>
                                  <div class="input-text">
                                    <span class="icon-input-container">
                                      <input id="email" class="input-box" placeholder="Email" type="text">
                                    </span>
                                    <div>
                                      <button id="serach-button" class="search-button">Next
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>

</div>
   