<div class="container">
    <div>
        <h1>Contact Us </h1>
    </div>
    <div class="Image">
        <img src="../../../assets/Images/Contact-Us.png" alt="Contact-Us">
    </div>
    <div  class="card-container">
        <div class="card">
            <div >
                <img src="../../../assets/Images/suggestion-ribbon card of contact 1.png"class="card-image" alt="...">
            </div>
            <div class="card-content card-content2" >
                <h2 class="card-title">Suggestion</h2>
                <p>Want to share your thoughts? Reach out to us and let us know what you have in mind.</p>
                <a href="#" class="card-button">Click Here </a>
            </div>
        </div>
        <div class="card">
            <div ><img src="../../../assets/Images/compaint-ribbon card of contact 2.png"class="card-image" alt="..."></div>
            <div class="card-content">
                <h2 class="card-title">Complaint</h2>
                <p class="card-text">Our customers are our top priority and we always try to ensure you are satisfied. However, If you have any feedback, feel free to reach out to us.</p>
                <a href="#" class="card-button">Click Here </a>
            </div>
        </div>
       
    </div>
</div>