<main class="container">
        
    <div>
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/Images/Chick-Mac-D.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item active">
            <img src="../../../assets/Images/Shakespresso-D.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item active">
            <img src="../../../assets/Images/Happy-Menu-24-D.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <br>
      <br>
    </div>
    <!-- card starts -->
    <div class="card-container">
        <!-- Card 1 -->
        <div class="card">
          <img src="../../../assets/Images/mccafe-dsk-en.jpg" alt="mccafe-dsk-en" class="card-image">
          <div class="card-content" style="justify-content: center;">
            <h3 class="card-title">McCafe</h3>
            <p class="card-text">
                Browse our menu for more information on topics such as our tasty coffee and espresso drinks.Browse our menu for more information on topics such as our tasty coffee and espresso drinks.
            </p>
            <a href="#" class="card-button">Order Now</a>
          </div>
        </div>
      
        <!-- Card 2 -->
        <div class="card">
          <img src="../../../assets/Images/mcdelivery-574x249-en.jpg" alt="Image 2" class="card-image">
          <div class="card-content" style=" text-align:center; ">
            <h3 class="card-title">McDelivery</h3>
            <p class="card-text">Delivering food at your doorsteps.</p>
            <a href="#" class="card-button">Order Now</a>
          </div>
        </div>
      
        <!-- Card 3 -->
        <div class="card">
          <img src="../../../assets/Images/uae-our-app-feature-callout-desktop.jpg" alt="App" class="card-image">
          <div class="card-content">
            <h3 class="card-title">Our App</h3>
            <p class="card-text">McDonald's in your Pocket.</p>
            <a href="#" class="card-button">Download Now</a>
          </div>
        </div>
      
        <!-- Card 4 -->
        <div class="card">
          <img src="../../../assets/Images/item-4.png" alt="item-4 " class="card-image">
          <div class="card-content">
            <h3 class="card-title">Our Menu</h3>
            <p class="card-text">Our exclusive menu is waiting for you.</p>
            <a href="#" class="card-button">Order Now</a>
          </div>
        </div>
      
        <!-- Card 5 -->
        <div class="card">
          <img src="../../../assets/Images/item-5.png" alt="item-5 " class="card-image">
          <div class="card-content">
            <h3 class="card-title">Trending Now</h3>
            <p class="card-text">Find out What's new.</p>
            <a href="#" class="card-button">Learn More</a>
          </div>
        </div>
      
        <!-- Card 6 -->
        <div class="card">
          <img src="../../../assets/Images/careers-info-card-1.png" alt="Careers" class="card-image">
          <div class="card-content">
            <h3 class="card-title">Careers</h3>
            <p class="card-text">Be a part of our team.</p>
            <a href="#" class="card-button">Apply Now</a>
          </div>
        </div>
      </div>

    

</main>
<br>
<br>
