<div class="container">
    <div class="imagelog">
        <img src="../../../assets/car-renatl-sharing-data/Cover@2x.png"  alt="...">
    </div>
    <div class="formbody">
        <div class="logo-header">
            <div><img src="../../../assets/car-renatl-sharing-data/header-logo.png" alt="footer-logo"></div>
            <div class="logo-text">
                <h3>Create New Password</h3>
                <p>Please Enter your Password and Confirm Password.</p>
            </div>
            <div class="login-form">
                <form action="#" method="POST">

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="Enter your password" required>
                    </div>

                    <div class="form-group">
                        <label for="password"> Confirm Password</label>
                        <input type="password" id="confirmpassword" name="confirmpassword"
                            placeholder="Enter your  confirm password" required>
                    </div>

                    <div class="form-group">
                        <button type="submit" (click)="onNavigate()">Continue</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>